

<h2>Create Order</h2>

<div ng-app="orderApp" ng-submit="submit()" ng-controller="orderController as order">
    <form novalidate>
        Street Addres:<br>
        <input type="text" ng-model="streetAddress"><br>
        City:<br>
        <input type="text" ng-model="city" /><br>
        State:<br>
        <input type="text" ng-model="state" /><br>
        Zip:<br>
        <input type="text" ng-model="zipCode" />
        <br><br>
        <input type="submit" id="submit" value="Create Order" />
    </form>

</div>

