
<h2>Current Orders</h2>

<div ng-app="orderApp">


    <div ng-controller="orderController as oc" ng-init="init()">
        <table>

            <tr ng-repeat="order in orders">
                <td>
                    <p><b>Tracking ID: </b></p>
                    <input type="text" ng-model="order.TrackingID" />
                   
                </td>
                <td>
                    <p><b>Address: </b></p>

                    <input type="text" ng-model="order.StreetAddress" />

                </td>

                <td>
                    <p><b>City: </b></p>

                    <input type="text" ng-model="order.City" />

                </td>
                <td>
                    <p><b>State: </b></p>

                    <input type="text" ng-model="order.State" />

                </td>
                <td>
                    <p><b>Zip: </b></p>

                    <input type="text" ng-model="order.ZipCode" />

                </td>
                <td style="vertical-align:bottom;padding-left:10px;"><a href ng-click="oc.updateOrder(order.OrderID,order.TrackingID, order.StreetAddress,order.City,order.State,order.ZipCode)">Update</a></td>
            </tr>

        </table>
     
    </div>
</div>

