
@{
    ViewBag.Title = "CreateUserPage";
}

<h2>Create New User</h2>

@using (Html.BeginForm("CreateUser", "User"))
{
    @Html.Label("First Name: ");
    @Html.TextBox("FirstName");
    <br />
    @Html.Label("Last Name: ");
    @Html.TextBox("LastName");

    <input type="submit" value="Add User">
}

