
@model List<OrderTrackng.BusinessObjects.UserLogin> 
<h2>List of Users</h2>
<div>
    <ul>
        @foreach (var user in Model)
        {
        <li>
            <p>First Name: </p>
            @Html.Raw(@user.FirstName)
            <p>Last Name: </p>
            @Html.Raw(@user.LastName)
        </li>
        }
    </ul>
</div>

