
@model OrderTrackng.BusinessObjects.UserLogin
<h2>Home</h2>
<div ng-app="orderApp">

    <div ng-controller="userController as uc" ng-init="init()">
        Hi @Html.Label(Model.FirstName)
    </div>


</div>


