
@model List<OrderTrackng.BusinessObjects.UserLogin>
<h2>List of Users</h2>
<div ng-app="orderApp">
   
        <div ng-controller="userController">
            <ul>

                <li ng-repeat="user in users ">
                    <p>First Name: </p>
                    {{user.firstName}}
                    <p>Last Name: </p>
                    {{user.lastName}}

            </ul>
        </div>
    </div>


