
@model List<OrderTrackng.BusinessObjects.UserLogin>
<h2>List of Users</h2>
<div ng-app="orderApp">
   
        <div ng-controller="userController as uc" ng-init="init()">
            <ul>

                <li ng-repeat="user in users">
                    <p>First Name: </p>
                    {{user.FirstName}}
                    <p>Last Name: </p>
                    {{user.LastName}}

            </ul>
        </div>
    </div>


